<%= form_for(@user, html: { multipart: true }) do |f| %>
  <%= render partial: "partials/form_errors", locals: { model: @user } %>

  <form>
    <div class="mb-3">
      <%= f.label :name, class: "form-label" %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :email, class: "form-label" %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <% if devise_mapping.confirmable? && @user.pending_reconfirmation? %>
      <div><%= t('confirm') %> <%= @user.unconfirmed_email %></div>
    <% end %>

    <div class="mb-3">
      <%= f.label :password, class: "form-label" %> <i><%= t('no_entry_pass') %></i><br />
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> <%= t('characters_minimum:') %></em>
      <% end %>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label" %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label t('avatar'), class: 'form-label'%>
      <%= f.file_field :avatar, class: "form-control form-control-sm" %>
    </div>

    <%= f.submit t('update'), class: "btn btn-outline-success float-start me-3" %>
  <form>
<% end %>
<%= button_to t('destroy'), registration_path(@user), data: { confirm: t('confirm.are_you_sure') },
    method: :delete, class: "btn btn-outline-danger mb-3" %>
<%= link_to t('back'), :back%>
