<%= <h2>t('enter')</h2> %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>
  <div class="mb-3">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :password, class: "form-label" %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label t('remember_me') %>
    </div>
  <% end %>
  <div class="raw mt-4">
    <div class="actions float-start me-3">
      <%= f.submit t('enter'), class: "btn btn-outline-success" %>
    </div>
    <a class="btn btn-outline-secondary float-start me-3" role="button" href="/users/sign_up"><%= t('registration') %></a>
    <a class="btn btn-outline-warning" role="button" href="/users/password/new"><%= t('recover_password') %></a>
  </div>
<% end %>
